


.wall {
  width: 100%; 
  height: 100%;
  /* background-image: url(../skin/style1/bg.jpg); */
  overflow: hidden;
  background-color: #121936;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.mask {
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: .16rem;
  padding: .03rem .08rem;
  color: #fff;
  border: 0 solid #000;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: .05rem;
}
.pure-button:hover, .pure-button:focus {
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.title-panel{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../skin/style1/title-bg.png) repeat-x center;
  background-size: contain;
  color: #fff;
  font-size: .2rem;
  padding: .1rem .2rem .2rem;
  height: .64rem;
  min-width: 1.5rem;
  text-align: center;
  z-index: 1;
}
.title-panel:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: -.98rem;
  background: url(../skin/style1/title-left.png) no-repeat top;
  background-size: contain;
  height: .64rem;
  width: 1rem;
}
.title-panel:after{
  content: ' ';
  position: absolute;
  top: 0;
  right: -.98rem;
  background: url(../skin/style1/title-right.png) no-repeat top;
  background-size: contain;
  height: .64rem;
  width: 1rem;
}

.tools {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .2rem;
  width: 1rem;
  padding-top: 20%;
}

.tools .pure-button {
  margin: .1rem .06rem;
  min-width: .7rem;
  background-color: #3c4c63;
  box-shadow: 0 .02rem .08rem #78d5fb;
}

.tools .btn-start {font-weight: bold; }
.tools .select-btn {font-weight: bold; box-shadow: 0 .02rem .08rem #66e0e5;background-color: #183e78;}
.tools .btn-reset{font-weight: bold; position: absolute;left: 0;bottom:.4rem; }
.tools .stop-btn {font-weight: bold; background-color: #32675d;}


.result-panel {
  position: absolute;
  right: .4rem;
  bottom: .5rem;
}

.result-panel a {
  color: #fae074;
  font-size: .18rem;
}

/* 展示面板 */
.detail-panel {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #014c8f;
  border-radius: .05rem;
  box-shadow: 0 0 3.5rem inset, 0 0 .05rem rgba(100, 156, 225, .5);
  padding: .2rem;
  border-left: .01rem solid rgba(100, 156, 225, .5);
  border-right: .01rem solid rgba(100, 156, 225, .5);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateY(20deg);
  -webkit-transform: translate(-50%, -50%) rotateY(20deg);
  display: none;
}
.detail-panel::after {
  position: absolute;
  /* top: -.02rem; */
  bottom: -.02rem;
  right: 0;
  content: '';
  height: .02rem;
  width: 85%;
  background: -webkit-linear-gradient(left, rgba(100, 156, 225,0) 0%, rgba(100, 156, 225, .7) 55%,rgba(204, 255, 255, 1) 70%,rgba(119, 187, 242, 1) 80%, rgba(170, 245, 255,0) 100%);
  background: linear-gradient(left, rgba(100, 156, 225,0) 0%, rgba(100, 156, 225, .7) 55%,rgba(204, 255, 255, 1) 70%,rgba(119, 187, 242, 1) 80%, rgba(170, 245, 255,0) 100%);
  border-radius: .05rem;
  z-index: 1;
}
.detail-panel::before {
  position: absolute;
  top: -.02rem;
  /* bottom: -.02rem; */
  left: 0;
  content: '';
  height: .02rem;
  width: 85%;
  background: -webkit-linear-gradient(right, rgba(100, 156, 225,0) 0%, rgba(100, 156, 225, .7) 55%,rgba(204, 255, 255, .8) 75%,rgba(119, 187, 242, 1) 80%, rgba(170, 245, 255,0) 100%);
  background: linear-gradient(right, rgba(100, 156, 225,0) 0%, rgba(100, 156, 225, .7) 55%,rgba(204, 255, 255, .8) 70%,rgba(119, 187, 242, 1) 80%, rgba(170, 245, 255,0) 100%);
  border-radius: .05rem;
  z-index: 1;
}
.detail-panel .close {
  position: absolute;
  right: 0;
  top: 0;
  width: .5rem;
  height: .5rem;
  text-align: center;
  line-height: .5rem;
  color: rgba(255,255,255,.6);
  font-size: .16rem;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
.detail-panel .panel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 5.5rem;
  min-height: 2rem;
}
.detail-panel .panel-content p{
  color: #fdfdfe;
  text-shadow: 0 0 .05rem #07fafe;
  font-size: .32rem;
  line-height: .6rem;
  -webkit-animation: 1.5s text-twinkle linear infinite;
  animation: 1.5s text-twinkle linear infinite;
}
@-webkit-keyframes text-twinkle {
  0% {
    text-shadow: 0 0 .05rem #07fafe;
  }
  50% {
    text-shadow: 0 0 .2rem #07fafe;
  }
  100% {
    text-shadow: 0 0 .05rem #07fafe;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



/* 获奖结果页 */
.result-container{
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.result-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 10rem;
  text-align: center;
  color: #fff;
  font-size: .3rem;
  line-height: .7rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.result-list li { width: 5rem;}


/* 奖池设置页  */
.pond-panel{
  margin: 0 auto;
  position: relative;
  width: 7rem;
  height: 100vh;
  padding: .75rem 0;
}
.pond-panel textarea{
  width: 7rem;
  background: rgba(0, 0, 0, .1);
  height: 100%;
  font-size: .25rem;
  line-height: .35rem;
  color: rgba(255, 255, 255, .7);
  outline: none;
  text-align: center;
  resize: none;
  
}
.pond-panel textarea::-webkit-input-placeholder,
.pond-panel textarea:-moz-placeholder,
.pond-panel textarea::-moz-placeholder,
.pond-panel textarea:-ms-input-placeholder,
.pond-panel textarea::-ms-input-placeholder{
  color: rgba(255, 255, 255, .6);
  font-size: .25rem;
}

.pond-btns{
  top: 0.75rem;
  right: -1.5rem;
  left: auto;
  padding-top: 0;
}

.desc-panel{
  position: absolute;
  top: 4rem;
  right: -1.5rem;
  color: rgba(255,255,2555, .7);
  font-size: .14rem;
  line-height: .2rem;
}
.desc-panel h1{font-size: .18rem;line-height: .24rem;color:rgba(255, 255, 255, .8);}
.input-txt{
  background-color: rgba(255, 255, 255, .3);
  font-size: .14rem;
  padding: .07rem .05rem;
  line-height: .2rem;
  border: none;
  border-radius: .05rem;
  width: 2rem;
  color: #E6E6E6;
  margin: .1rem 0;
  outline: none;
}

.sel-style{
  background-color: rgba(255, 255, 255, .3);
  font-size: .14rem;
  padding: .07rem .05rem;
  line-height: .2rem;
  border: none;
  border-radius: .05rem;
  width: 2rem;
  color: #E6E6E6;
  outline: none;
  margin: .1rem 0;
}